main {
  width: 1000px;
  border: 2px solid black;
  border-radius: 2pc;
  margin: 20px;
  padding: 20px;
  background-color: white;
  
}

body {
  background-color: #40ad40;
  
}

button{
  background-color: #0087cf;
  border-radius: 5pc;
  color: white;
  padding: 10px 10px;
  margin: 3px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.limpar, .del{
  background-color: #90191b;
  border-radius: 5pc;
  color: white;
  padding: 10px 10px;
  margin: 3px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.finalizar{
  width: 150px;
}
.salvarList{
  background-color: #40ad40;

}
.setaCima, .setaBaixo{
  background-color: #fc7f00;
  
}
.completed{
	text-decoration:line-through solid black;

}
.selected {
  background-color: gray;
}
#rodape{
  text-align: center;
  font-size: 20px;
  color: black;
}

